/* Global styles */
html {
  font-size: 16px;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h1, h2, h3, h4 {
  font-weight: bold;
}

p, a {
  font-size: 1.2rem;
}

@media only screen and (max-width: 950px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 520px) {
  h1 {
    font-size: 2.1rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.3rem;
  }
}


/* Header styles */
header {
  width: 100%;
  height: 4rem;
  background-color: white;
  border: 1px solid lightgrey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
  position: fixed;
}

.logo, nav ul{
  display: flex;
  align-items: center;
  margin: 0 1.5rem;
}

.logo img {
  height: 2.5rem;
  position: relative;
  top: 2px;
  left: -2px;
}

.logo {
  font-size: 1.5rem;
}

nav li {
  margin-left: 1.3rem;
}

nav a {
  font-size: 1.2rem;
}

ul.icons, ul.mobile {
  display: none;
}

@media only screen and (max-width: 800px) {
  .logo {
    margin-right: 0;
  }

  nav ul {
    margin-left: 0;
  }

  nav a {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  nav li {
    margin-left: 2rem;
  }

  ul.icons {
    display: flex;
  }

  ul.words {
    display: none;
  }
}

@media only screen and (max-width: 520px) {
  .logo, ul.icons {
    display: none;
  }

  nav {
    width: 100%;
  }

  nav ul {
    margin: 0;
  }

  nav li {
    margin-left: 0;
  }

  ul.mobile {
    display:flex;
    justify-content: space-around;
  }
}


/* MAIN SECTION */
/* Learn, Info and Thesis section shared styles */
main, footer {
  width: 100%;
  position: relative;
  top: 4rem;
}

.two-col-container {
  /* borde para quitar */
  border: 1px solid red;
  display: flex;
}

.left-col, .right-col {
  /* borde para quitar */
  border: 1px solid black;
}

.left-col {
  width: 60%;
  overflow: hidden;
}

.right-col {
  width: 40%;
  overflow: hidden;
}

.left-col .media {
  width: 90%;
  margin: 2rem 1.5rem;
}

/* Sección 1: */
/* Columna derecha */
#learn .right-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#info .right-col .media {
  width: 90%;
}

#learn .right-col h1,
#learn .right-col h4,
#learn .right-col a {
  max-width: 22rem;
}

#learn .right-col a {
  border: 1px solid black;
  text-align: center;
}

/* sección 1 - media queries específicos */
@media only screen and (max-width: 950px) {
  #learn .right-col h1,
  #learn .right-col h4,
  #learn .right-col a {
    max-width: 18.5rem;
  }
}

@media only screen and (max-width: 520px) {
  #learn .left-col {
    height: auto;
  }

  #learn .media {
    width: 100%;
    margin: 0;
  }

  #learn .right-col h1,
  #learn .right-col h4 {
    width: 16.5rem;
  }
}

@media only screen and (max-width: 320px) {
  #learn .right-col h4 {
    display: none;
  }

  #learn .right-col h1 {
    text-align: center;
  }
}

/* Sección 2: */
#info .mobile {
  display: none;
}

/* Estilos comunes de las secciones 2 y 4 */
.right-col{
  margin-top: 1rem;
}

.right-col .info-item {
  display: flex;
  overflow: hidden;
  padding: 1rem;
}

.info-item img {
  width: 35%;
  margin-right: 1rem;
}

.info-item .description {
  width: 65%;
  margin: auto 0;
}

.left-col h2,
.left-col h4, /*esta es propia de la sección 4*/
.left-col p {
  width: 90%;
  margin-bottom: 1.5rem;
  margin-left: 1.5rem;
}

/* Secciones 1, 2 y 4: media queries - cambios compartidos */
@media only screen and (max-width: 860px) {
  /* contenedor de dos columnas: cambio a flex column */
  .two-col-container {
    flex-direction: column;
  }

  /* las columnas pasan a ocupar el 100% del ancho */
  .left-col,
  .right-col {
    width: 100%;
    display: flex;
  }

  /* columna izquierda - cambio a flex column */
  .left-col {
    flex-direction: column;
  }

  /* columna derecha - cambio a flex row */
  #learn .right-col, /*hace falta más especificidad para aplicar el cambio*/
  .right-col {
    flex-direction: row;
  }

  /* media ocupa el ancho justo para quedar dentro de los límites del logo y del nav */
  .left-col .media {
    width: 94.42%;
    margin: 2rem auto;
  }

  /* sección 1 - columna derecha: quitar 'Lorem ipsum' */
  #learn h4 {
    display: none;
  }

  /* sección 2 - columna izquierda: */
  /* info-items -  ocupan el 30% del ancho y son flex column */
  #info .info-item {
    width: 30%;
    flex-direction: column;
  }

  /* info-items - quitar las imagenes pequeñas */
  #info .desktop {
    display: none;
  }

  #info .mobile {
    display: inline-block;
  }
}

/* mientras tanto, para que no den por culo saliéndose del viewport... */
.course {
  overflow: hidden;
}
